
#weidner-carousel img {
	height: 20rem; 
	min-height: 20rem; 
	max-height: 20rem; 
	width:100%; 
	object-fit: cover;
}
@media (max-width: 912px) { 
	#weidner-carousel img {
		height: 10rem; 
		min-height: 10rem; 
		max-height: 10rem; 
	}
}

body {
	background-color: #ece6dc;
}

footer {
  padding-bottom: 3rem;
}

.box-shadow { 
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}

a.card {
	height: 250px;
}

a .card-body {
	padding-top: .5rem;
}

a.card img {
	max-height: 150px;
	object-fit: cover;
}

a.navbar-brand h1 {
	padding-top: .5rem;
}

.pw-logo {
	height: 3rem;
}

span.front-box {
	font-size: x-large;
	font-weight: bold;
	XXcolor: #fff;
	color: #ece6dc;
	XXtext-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	text-shadow: 1px 1px 2px rgba(0,0,0, 0.85);
	position: absolute;
	right: 1rem;
	top: 0px;
}

/* card */
a.card {
	text-align: left;
	line-height: 1.1;
	text-decoration: none !important;
}
a p.card-text:hover {
	color: #000;
}
a.card .card-body {
	padding: .5rem;
}

.page-image {
	position: absolute;
	max-height: 150px;
	object-fit: cover;
	width: 100%;
	left: 0;
}

.display-1 {
	font-family: albert;
	font-size: 3rem;
	font-weight: 300;
	line-height: 1.0;
}

.display-2 {
	font-family: albert;
	font-size: 2.75rem;
	font-weight: 300;
	line-height: 1.0;
}

.display-3 {
	font-family: albert;
	font-size: 2.25rem;
	font-weight: 300;
	line-height: 1.0;
}

.display-4 {
	font-family: albert;
	font-size: 1.75rem;
	font-weight: 300;
	line-height: 1.0;
}


