*, html, body {
  box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
}
html, body {
	margin: 0;
	padding: 0;
	color: #343a40;
}

body {
	height: 100vh;
}

main {
	display: block;
	width: 900px;
	min-width: 900px;
	max-width: 900px;
	margin: 0 auto;
	min-height: 60% !important;
}

nav {
}

.col-routes {
	float: left;
	width: 350px;
}
.col-main {
	float: left;
	width: 450px;
	margin-left: 20px;
}


footer {
	width: 100%;
	clear: both;
	float: left;
	xdisplay: block;
	margin-top: 100px;
	height: 70px;
	background: darkgreen;
	color: gold;
	padding: 20px;
}

header {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	background: darkgreen;
	color: gold;
}
.logo {
	margin-left: 20px;
	margin-top: 0.6em;
	letter-spacing: 3px;
	font-family: 'times';
}

.nav {
	display: flex;
	justify-content: space-around;
	width: 25%;
}

.nav-link {
	list-style: none;
	padding: 16px;
	margin-left: 2em;
	margin: 0;
}
.nav-link a {
	color: gold;
	text-decoration: none;
	font-size: 1em;
}
.nav-link a.active {
	opacity: .6;
}


/* --------------- */
.text-normal {
	color: #6c757d;
}
.text-dark {
	color: #343a40;
}
.text-muted {
	color: #6c757d;
}


/* --------------- */
.mono {
	font-family: Consolas, Lucida Console, monospace;
}
.small {
	font-size: 90%;
}
.x-small {
	font-size: 80%;
}
.xx-small {
	font-size: 65%;
}
.font-normal {
	font-family: Arial, Helvetica, sans-serif;
}
.font-weight-normal {
	font-weight: normal;
}
.font-weight-bold {
	font-weight: bold;
}

.invisible {
	visibility: hidden;
}
.display-none {
	display: none;
}
.inline-block {
	display: inline-block;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.va-baseline {
	vertical-align: baseline;
}
.va-sub {
	vertical-align: sub;
}
.va-super {
	vertical-align: super;
}
.va-text-top {
	vertical-align: text-top;
}
.va-top {
	vertical-align: top;
}
.va-middle {
	vertical-align: middle;
}
.va-bottom {
	vertical-align: bottom !important;
}
.va-8 {
	vertical-align: 8px;
}

.no-padding-top {
	padding-top: 0;
}

.no-margin-top {
	margin-top: 0;
}


a {
	text-decoration: none;
}
a.route {
	width: 100%;
	max-width: 310px;
	overflow: hidden;
	display: inline-block;
	padding: 2px;
	padding-left: 5px;
	color: darkgreen;
	white-space: nowrap; 
  text-overflow: ellipsis;
}
a.route.auto {
	width: initial;
	min-width: initial;
}
a.route:hover {
	background-color: darkgreen;
	color: gold;
	font-weight: bold;
}
a.route {
	border: 1px solid #fff;
}
a.route.active {
	border: 1px dotted #6c757d; /* darkgreen; */
}

button {
	box-shadow: outset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color: #f9f9f9;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #343a40;
	font-family: Arial;
	font-size: 15px;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}
button:hover:enabled {
	background: linear-gradient(to bottom, #e9e9e9 5%, silver 100%);
	text-shadow: 0px 1px 0px #e9e9e9;
	background-color: #e9e9e9;
	font-weight: normal;
}
button:active {
	position: relative;
	top: 1px;
}
button:disabled {
	cursor: not-allowed;
	opacity: .4;
}

button.btn-input-group {
	padding: 7px;
	position: relative;
	right: -0px;
	font-size: .9em;
	border-radius: 0;
}        
button.btn-sm {
	padding: 3px 12px;
	font-size: smaller;
	font-weight: normal;
}

button.btn-add:before {
	content: '➕  ';
	color: darkgreen;
	font-weight: bold;
	font-size: 100%;
}
button.btn-remove:before {
	content: '✖  ';
	color: maroon;
}
button.btn-no:before {
	content: '✋  ';
	color: #ff073a;
	font-size: larger;
}

button.btn-delete:before {
	content: '✖  ';
	color: #ff073a;
	font-size: 12px;
}
button.btn-delete:hover {
	background: linear-gradient(to bottom, #dc3545 5%, #dc3545 100%);
	text-shadow:0px 1px 0px red;
	color: #fff;
}
button.btn-delete:hover:before {
	color: #fff;
}

button.btn-link-out:before {
	content: '↗  ';
	color: navy;
	font-size: 12px;
}
button.btn-link-out:hover:before {
	color: navy;
}

button.btn-ok:before {
	content: '✔ ';
	color: darkgreen;
	font-weight: bold;
}

button.btn-revert:before {
	content: '⤾ ';
	color: navy;
	font-weight: bold;
}

/* forms */
.form-group {
	float: left;
	display: inline;
	clear: both;
	width: 100%;
	margin-bottom: 8px;
}
.form-group label {
	width: 80px;
	max-width: 90px;
	float: left;
	clear: none;
	position: relative;
	top: 7px;
	font-size: .9em;
	color: 
	overflow: hidden;
}

/* hide FF focus rect */
.form-group select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

.form-group select,
.form-group textarea,
.form-group input {
	min-width: 300px;
	float: left;
	clear: none;
	padding: 6px;
	-webkit-appearance: none; 
	-moz-appearance: none; 
	border: 2px solid #eee; 
	border-radius: 4px;
	background: #fff;
	font-size: .9em;
}

/* effect */
.form-group select:focus,
.form-group textarea:focus,
.form-group input:focus { 
	outline: none;
	border-color: seagreen;
	box-shadow: 0 0 3px forestgreen;
}

/* accordion */
/*
.accordion .accordion-cnt:not(.active) .accordion-body {
	width: 100% !important;
	color: #262626;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	opacity: 0;
	height: auto;
	max-height: 0;
	overflow: hidden;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	background-color: #fff;
}

.accordion .accordion-cnt .accordion-body {
	margin-top: 5px;
	padding-left: 12px;
	opacity: 1;
	height: auto;
	max-height: 1000px;
}

.accordion .accordion-cnt {
	border-radius: 4px;
}

.accordion .accordion-cnt .accordion-body {
	border-radius: 4px;
}

.accordion .accordion-cnt {
	margin-bottom: 5px;
}

.accordion .accordion-title {
	padding: 8px;
	cursor: pointer;
	position: relative;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
}

.accordion .accordion-cnt span {
	float: right;
}
.accordion .accordion-cnt.active span::before {
	content: '▴';
	position: relative;
	top: -2px;
	right: 3px;
	color: silver;
	text-shadow: 1px 1px 1px 1px gray;
}
.accordion .accordion-cnt:not(.active) span::before {
	content: '▾';
	position: relative;
	top: -1px;
	right: 3px;
	color: silver;
	text-shadow: 1px 1px 1px 1px gray;
}
    
*/
