@font-face {
	font-family: tangerine;
	src: url(../../assets/fonts/Tangerine/Tangerine-Regular.ttf);
}
@font-face {
	font-family: tangerine-bold;
	src: url(../../assets/fonts/Tangerine/Tangerine-Bold.ttf);
}
@font-face {
	font-family: arsenal;
	src: url(../../assets/fonts/Arsenal/Arsenal-Regular.ttf);
}
@font-face {
	font-family: arsenal-bold;
	src: url(../../assets/fonts/Arsenal/Arsenal-Bold.ttf);
}
@font-face {
	font-family: albert;
	src: url(../../assets/fonts/Albert/AlbertSans-VariableFont_wght.ttf);
}


h1, h2, h3, h4, h5, .display-1, .display-2, .display-3, .display-4 {
	font-family: tangerine-bold;
}

.albert, p {
	font-family: albert;
}

.text-weidner {
	color: #82714e;
}

a.weidner-link {
	color: #82714e;
	font-weight: bold;
}
a.weidner-link:hover {
	color: #C2B280;
}

/* 22112023, ny sub page design */
.alert-weidner {
	XXXcolor: #82714e;
	XXXcolor: darkslategray;
	XXbackground-color: #C2B280;
	XXXcolor: #C2B280;
	color: #fbfbfb;
	background-color: #C2B280; /*#82714e;*/
	text-shadow: #685a3e 1px 1px;
	XXXborder-color: #82714e;
	XXtext-shadow: 0px 0px 1px orange;
}

.alert-weidner-light {
	color: #82714e;
	background-color: #C2B280;
	text-shadow: #685a3e 1px 1px;
}


h2.weidner-underside {
	padding-top: 5rem;
	color: #C2B280;
	font-size: 450%;
	text-shadow: #82714e 1px 0 1px;	
}

.weidner-dropdown {
	background-color: #f8f9fa;
	border: 0;
	padding-top: 0;
	margin-top:0;
	box-shadow: 0px 4px 8px rgb(34, 34, 34, 0.22);
}

.weidner-underside-billede {
	object-fit: scale-down;
  background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;     
}
.weidner-underside-billede-sm {
	height: 20rem;
}
.weidner-underside-billede-lg {
	height: 30rem;
}

/* responsiv ul */
ul.responsive {
	columns: 2;
}
@media (max-width: 768px) { 
	ul.responsive {
		columns: 1;
	}
}

video {
	width: 200px;
	display: block;
	cursor: pointer;	
	background-color: #000;
}
@media (max-width: 768px) { 
	video {
		width: 100%;
	}
}

@media (max-width: 512px) { 
	.weidner-underside-billede {
		object-fit: scale-down;
		height: 9rem;
	}
	.weidner-underside-billede-lg {
		object-fit: scale-down;
		height: 15rem;
	}
}


/*
@media (max-width: 512px) { 
	.weidner-underside-billede {
		object-fit: scale-down;
		height: 14rem;
		min-height: 14rem;
	}
}
*/

.no-padding-left {
	padding-left: 0px;
}
.no-padding-right {
	padding-right: 0px;
}

/*
@media (min-width: 912px) { 
	.weidner-underside-billede {
		object-fit: scale-down;
		height: 16rem;
		min-height: 16rem;
	}
}
*/
/*
@media (max-width: 913px) { 
	.weidner-underside-billede {
		height: 8rem;
		min-height: 8rem;
	}
}
*/

/* ny header */
.front-header {
	background: #fff;
	text-align: center;
	padding-top: 0;
	padding-bottom: 0;
}
.front-header h1 {
	font-size: 5rem;
	font-weight: bold;
	color: #82714e;
}	
.front-header .pernille-weidner-logo {
	position: relative;
	top: 2rem;
}

@media (max-width: 912px) { 
	.front-header h1 {
		font-size: 2.7rem;
	}
	.front-header .pernille-weidner-logo {
		top: 1rem;
	}
}

.nav-link {
	font-family: arsenal-bold;
	font-weight: bold;
	font-size: 1.2rem;
	color: #82714e;
}	
.nav-link.active {
	color: gray !important;
	opacity: .8;
}

.dropdown-menu a .disabled {
	color: silver;
	cursor: not-allowed;
}

nav .navbar-nav li a {
	color: #82714e !important;
	opacity: .8;
}
nav .navbar-nav li.active a {
	color: gray !important;
	opacity: .8;
}
nav .navbar-nav a:hover {
	opacity: 1;
}	

a.dropdown-item {
	XXXfont-weight: bold;
}

a.dropdown-item:active {
	color: #fff !important;
	background-color: #82714e;
}

/* display */
.display-0 {
	font-size: 5rem;
	font-weight: 900;
	line-height: 1.0;
}
@media (max-width: 768px) { 
	.display-0 {
		font-size: 3.5rem;
	}
}

::selection {
  color: #fff;
  background: #82714e;
}

/* navbar */
.navbar-brand {
	margin-right: 0;
}
.navbar-toggler {
	padding-left: .5rem;
	padding-right: .5rem;
}

.pernille-weidner-logo {
  transition: transform 1s ease-in-out;
	position: relative;
	height: 3rem;
	top: -.2rem;
}
.pernille-weidner-logo-lg {
	height: 5rem;
}
.pernille-weidner-logo:hover {
	transform: rotate(140deg);
}

/*magnific */
figure {
	cursor: zoom-in;
	margin-inline-start: 0 !important;
}
figcaption {
	font-size: small;
	background-color: #ebebeb;
	padding-left: .5rem;
}

.mfp-bg {
	background: #ebebeb;
	opacity: 0.6;
}
img.mfp-img {
	padding-bottom: 32px;
	margin-left: -1px;
}

/* pw quote  */
.quote-card {
  background: #C2B280;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
}
.quote-card p {
  font-size: small;
  max-width: 80%;
}
.quote-card cite {
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
	text-shadow: 1px 1px 2px rgba(0,0,0, 0.25);
}
.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: -15px;
  left: 10px;
  font-size: 5em;
	color: #ece6dc;
  font-weight: normal;
}
.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -90px;
  line-height: 100px;
  right: -2px;
  font-size: 16rem;
	color: #ece6dc;
  font-weight: normal;
}

.quote-card-sm cite {
	opacity: 1;
	color: #000 !important;
	position: relative;
	z-index: 100;
}

.quote-card-sm {
	padding-top: .5rem;
}
.quote-card-sm:before {
	top: -1rem;
}
.quote-card-sm:after {
  font-size: 10rem;
  bottom: -50%;
	right: -1px;
}

@media (max-width: 640px) {
  .quote-card:after {
    font-size: 22em;
    right: -25px;
  }
}

/* ny main */
main {
	font-family: albert;
	background-color: #fff;
	border-bottom-right-radius: .5rem;
	border-bottom-left-radius: .5rem;
	margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
}

@media (min-width: 576px) { 
	main {
		width : 570px;
	}
}
@media (min-width: 768px) { 
	main {
		width : 760px;
	}
}
@media (min-width: 820px) { 
	main {
		width : 820px;
	}
}
@media (min-width: 992px) { 
	main {
		width : 992px;
	}
}
@media (min-width: 1200px) { 
	main {
		width : 900px;
	}
}


